<div class="container" >
  <div class="row">
    <div class="col-md-3">
      <ul *ngIf="villes">
        <li [ngClass]="v==currentvilles?'active':''" *ngFor="let v of villes._embedded.villes" class="list-group-item clickable"
         (click)="onGetcinemas(v)">
          {{v.name}}
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">Liste des cinemas</div>
        <div class="panel-body">
          <ul *ngIf="cinemas" class="nav nav-pills">
            <li [ngClass]="c==curretcinemans?'active':''"*ngFor="let c of cinemas._embedded.cinemas"class="clickable">
              <a (click)="onGetsalles(c)">{{c.name}}</a>

            </li>
          </ul>
          <div class="row" *ngIf="salles">
            <div *ngFor="let s of salles._embedded.salles">
              <div class="col-md-6">
              <div class="panel panel-default ">
                <div class="panel-heading">{{s.name}}</div>
                <div class="panel-body" *ngIf="s.projections">
                  <div class="row">
                    <div class="col-md-5">
                      <img width="140" src="{{cinemaService.host+'/imageFilm/'+s.projections._embedded.projectionFilms[0].film.id}}"/>
                    </div>
                    <div class="col-md-7">
                      <ul class="list-group">
                        <li class="list-group-item"> Séances :</li>
                        <li [ngClass]="p==currentProjection?'active':''" (click)="onGetTicketsPlaces(p)" *ngFor="let p of s.projections._embedded.projectionFilms" class="list-group-item clickable">
                          {{p.seance.heureDebut}} => Prix : {{p.prix|number:'0.00'}}dh
                        </li>
                      </ul>
                    </div>

                  </div>
                  <div *ngIf="currentProjection">
                    <div *ngIf="currentProjection.tickets">
                      <div class="row" *ngIf="currentProjection.tickets">
                        <div *ngIf="s.id==currentProjection.salle.id">
                          <button class="{{getTicketClass(t)}}" (click)="onSelectTicket(t)" [disabled]="t.reservee"  *ngFor="let t of currentProjection.tickets._embedded.tickets">
                            {{t.place.numero}}
                          </button>
                        </div>
                      </div>

                    </div>

                    </div>




                </div>


              </div>

            </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


